<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title</title>
  <link rel="stylesheet" href="~/StyleSheet.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/fontawesome.min.css" integrity="sha512-siarrzI1u3pCqFG2LEzi87McrBmq6Tp7juVsdmGY1Dr8Saw+ZBAzDzrGwX3vgxX1NkioYNCFOVC0GpDPss10zQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <div>
    <div class="container">
      <div class="navbar">
        <div class="navbar-brand">Contact Manager</div>
        <ul>
          <li><a href="~/person/index">Persons</a></li>
        </ul>
      </div>

      <div class="page-content">
        @RenderBody()
      </div>
    </div>
  </div>
</body>
</html>
