@{
  ViewBag.Title = "Upload Countries from Excel";
}

<h2>Upload COuntries from Excel</h2>
<div class="w-50">
  <form asp-controller="Countries" asp-action="UploadFromExcel" method="post" enctype="multipart/form-data">
    <div class="form-field flex">
      <div class="w-25">
        <label class="form-label pt">Choose an .xlsx file</label>
      </div>
      <div class="flex-1">
        <input type="file" name="excelFile" class="form-input"/>
        <div class="text-red">@ViewBag.ErrorMessage</div>
        <div class="text-green">@ViewBag.Message</div>

      </div>
    </div>

    <div class="form-field flex">
      <div class="w-25"></div>
      <div class="flex-1">
        <button type="submit" class="button button-green-back">Submit</button>
      </div>
    </div>
  </form>
</div>